*

!/.devcontainer/
!/.github/
!/assets/

!/.github/FUNDING.yml
!/assets/cuda-screenshot.png

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.hadolint.yml
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/CUDA_NOTES.md
!/DEVTOOLS_NOTES.md
!/LICENSE
!/NOTES.md
!/README.md
!/SECURITY.md

!.keep
