*

!/backups/
!/bind-mounts/
!/conf/
!/conf/ipython/
!/conf/ipython/usr/
!/conf/ipython/usr/local/
!/conf/ipython/usr/local/etc/
!/conf/ipython/usr/local/etc/ipython/
!/conf/jupyterlab/
!/conf/jupyterlab/usr/
!/conf/jupyterlab/usr/local/
!/conf/jupyterlab/usr/local/share/
!/conf/jupyterlab/usr/local/share/jupyter/
!/conf/jupyterlab/usr/local/share/jupyter/lab/
!/conf/jupyterlab/usr/local/share/jupyter/lab/settings/
!/conf/shell/
!/conf/shell/etc/
!/conf/shell/etc/skel/
!/conf/shell/var/
!/conf/shell/var/tmp/
!/conf/shell/var/tmp/snippets/
!/cuda-julia-*/
!/cuda-python-*/
!/cuda-r-*/
!/julia-*/
!/julia-base/conf/
!/julia-base/conf/julia/
!/julia-base/conf/julia/etc/
!/julia-base/conf/julia/etc/skel/
!/julia-base/conf/julia/etc/skel/.julia/
!/julia-base/conf/julia/etc/skel/.julia/config/
!/julia-base/
!/julia-base/scripts/
!/julia-base/scripts/usr/
!/julia-base/scripts/usr/local/
!/julia-base/scripts/usr/local/bin/
!/python-*/
!/r-*/
!/r-base/conf/
!/r-base/conf/jupyterlab/
!/r-base/conf/jupyterlab/usr/
!/r-base/conf/jupyterlab/usr/local/
!/r-base/conf/jupyterlab/usr/local/share/
!/r-base/conf/jupyterlab/usr/local/share/jupyter/
!/r-base/conf/jupyterlab/usr/local/share/jupyter/lab/
!/r-base/conf/jupyterlab/usr/local/share/jupyter/lab/settings/
!/r-base/
!/r-base/scripts/
!/r-base/scripts/usr/
!/r-base/scripts/usr/local/
!/r-base/scripts/usr/local/bin/
!/scripts/
!/scripts/etc/
!/scripts/etc/skel/
!/scripts/etc/skel/.local/
!/scripts/etc/skel/.local/bin/
!/scripts/usr/
!/scripts/usr/local/
!/scripts/usr/local/bin/

!/conf/ipython/usr/local/etc/ipython/*.py
!/conf/jupyterlab/usr/local/share/jupyter/lab/settings/*.json
!/conf/shell/etc/skel/.profile
!/conf/shell/var/tmp/snippets/*.sh
!/cuda-julia-*/devcontainer.json
!/cuda-python-*/devcontainer.json
!/cuda-r-*/devcontainer.json
!/julia-*/devcontainer.json
!/julia-base/conf/julia/etc/skel/.julia/config/*.jl
!/julia-base/scripts/usr/local/bin/*.sh
!/python-*/devcontainer.json
!/r-*/devcontainer.json
!/r-base/conf/jupyterlab/usr/local/share/jupyter/lab/settings/*.json
!/r-base/scripts/usr/local/bin/*.sh
!/scripts/etc/skel/.local/bin/*.sh
!/scripts/usr/local/bin/*.sh

!/.gitignore
!/devcontainer.json
!/Dockerfile
!/Julia.Dockerfile
!/Python.Dockerfile
!/R.Dockerfile

!.keep
